<div class="container">
  <app-weight-form *ngIf="!(hasValueToday$ | async)" (addWeight)="addValue($event)"></app-weight-form>
  <app-date-range-picker
    [start]="startDate"
    [end]="endDate"
    (rangeChange)="dateChange($event)"
  ></app-date-range-picker>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Graph">
      <app-chart [data]="last10$ | async"></app-chart>
    </mat-tab>
    <mat-tab label="Values">
      <app-values-table (remove)="removeValue($event)" [values]="last10$ | async"></app-values-table>
    </mat-tab>
  </mat-tab-group>
</div>
