@import '../../../styles';

.negative {
  color: map-get($theme-primary, default);
}
.positive {
  color: map-get($theme-warn, default);
}

mat-card {
  width: 25%;
  flex: 1 1 auto;
  text-align: center;
}

mat-card-title {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: space-between;
}
