@import '../../../styles';

.negative {
  color: map-get($theme-primary, default);
}
.positive {
  color: map-get($theme-warn, default);
}

mat-card {
  width: 20%;
  text-align: center;
}

mat-card-title {
  text-align: center;
}
