<mat-card>
  <mat-card-title>Range</mat-card-title>
  <mat-card-content>
    <div class="container">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input (click)="picker.open()" [formGroup]="form" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi="true" #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="container">
      <button
        mat-raised-button color="accent"
        *ngFor="let range of ranges"
        (click)="selectRange(range)"
      >
        {{ range.label }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
