<mat-card>
  <mat-card-content>
    <p>Avg: {{last10Avg}}</p>
    <p>Loss: {{last10Loss}}</p>
  </mat-card-content>
</mat-card>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="value" placeholder="Valeur">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button type="button">Annuler</button>
      <button mat-button color="primary" type="submit" [disabled]="form.invalid">Envoyer</button>
    </mat-card-actions>
  </mat-card>
</form>
<mat-card>
  <mat-card-content>Évolution</mat-card-content>
  <mat-card-content>
    <canvas #chart width="600" height="600"></canvas>
  </mat-card-content>
</mat-card>

